################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/C--/v15/Browse.VC.db
/.vs/C--/v15/Browse.VC.opendb
/x64
/interfuck/x64
/alt1.diagsession
*.diagsession
*.ipch
