################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/x64
/interfuck/x64
*.diagsession
*.ipch

# transfuck
transpeter/.idea/
transpeter/__pycache__

# exclude output files
inter-fuck
**/*.out
**/*.bf
**/*.pkl

# exclude source files
**/*.cmm

# outputs from the Nix package manager
result
